zonesion/.git
zonesion/.gitignore
zonesion/GreenHouse/
zonesion/HealthBand/
zonesion/SmartCup/
zonesion/SmartSteelyard/
zonesion/SportsBracelet/
zonesion/WristWatch/
zonesion/LTE/template/iar/settings/
zonesion/LTE/template/iar/template/
zonesion/LoRa/LoRaAtCommand/iar/template/
zonesion/LoRa/LoRaAtCommand/iar/settings/
zonesion/NB-IoT/template/iar/template/
zonesion/NB-IoT/template/iar/settings/

zonesion/LoRa/LoRaAP/iar/settings
